{% if chantier is defined and chantier.dateCloture is not empty %}
    <div id="DivClose" class="row">
        <div class="col-md-12">
            <p class="bg-danger p-2">
                <i class="fa fa-warning" style="color: red; font-size: 17px;"></i> {{ "site.closedAt" | trans()}} {{ chantier.dateCloture | date("d/m/Y") }}
            </p>
        </div>
    </div>
{% endif %}

{{ form_start(chantierForm, {"attr" : {"autocomplete" : "off"}}) }}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-info">
                <thead>
                    <tr>
                        <th>{{ "site.number" | trans() }}</th>
                        <th>{{ "site.code_affaire" | trans() }}</th>
                        <th>{{ "site.body" | trans() }}</th>
                        <th>{{ "site.state" | trans() }}</th>
                        <th>{{ "site.preparator" | trans() }}
                            {% if "new" not in app.request.get('_route') and not is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %}
                                <i id="SeeAllUsers" class="fa fa-user-plus cursor-pointer" style="float: right; margin-top: 3px;"></i>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr{% if is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %} class="hide"{% endif %}>
                        <td>{{ form_widget(chantierForm.number) }}</td>
                        <td>{{ form_widget(chantierForm.codeAffaire) }}</td>
                        <td>{{ form_widget(chantierForm.intitule) }}</td>
                        <td>{{ form_widget(chantierForm.etat) }}</td>
                        <td>{{ form_widget(chantierForm.preparateur) }}</td>
                    </tr>
                    {% if is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %}
                        <tr class="text-center">
                            <td>{{ chantier.number }}</td>
                            <td>{{ chantier.codeAffaire }}</td>
                            <td>{{ chantier.intitule }}</td>
                            <td>{{ chantier.etat }}</td>
                            <td>{{ chantier.preparateur }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-info">
                <thead>
                    <tr>
                        <th>{{ "site.priority" | trans() }}</th>
                        <th>{{ "category.libelle" | trans({'%count%': 1}) }}</th>
                        <th>{{ "site.type" | trans() }}</th>
                        <th>{{ "municipality.libelle" | trans({'%count%': 1}) }}</th>
                        <th>{{ "site.address" | trans() }}</th>
                        <th>{{ "site.complement" | trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr{% if is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %} class="hide"{% endif %}>
                        <td>{{ form_widget(chantierForm.priorite) }}</td>
                        <td>{{ form_widget(chantierForm.categorie) }}</td>
                        <td>{{ form_widget(chantierForm.type) }}</td>
                        <td>{{ form_widget(chantierForm.commune) }}</td>
                        <td>{{ form_widget(chantierForm.rue) }}</td>
                        <td>{{ form_widget(chantierForm.complement) }}</td>
                    </tr>
                    {% if is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %}
                        <tr class="text-center">
                            <td>{{ chantier.priorite }}</td>
                            <td>{{ chantier.categorie }}</td>
                            <td>{{ chantier.type }}</td>
                            <td>{{ chantier.commune }}</td>
                            <td>{{ chantier.rue }}</td>
                            <td>{{ chantier.complement }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-info">
                <thead>
                    <tr>
                        <th>{{ "type_work.libelle" | trans() }}</th>
                        <th>{{ "site.prepa_theory" | trans() }}</th>
                        <th>{{ "site.prepa_retenue" | trans() }}</th>
                        <th>{{ "site.prepa_realisee" | trans() }}</th>
                        <th>{{ "site.time_left" | trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                            <td class="hide">{{ form_widget(chantierForm.typeTravail) }}</td>
                            <td class="text-center">{{ chantier.typeTravail }}</td>
                        {% else %}
                            <td>{{ form_widget(chantierForm.typeTravail) }}</td>
                        {% endif %}

                        <td id="prepaTheory" class="text-center">
                            {% if chantier is defined and chantier.prepaTheory is defined %}
                                {{ chantier.prepaTheory }}
                            {% else %}
                                0
                            {% endif %}
                        </td>

                        {% if is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                            <td class="hide">{{ form_widget(chantierForm.prepaRetenue) }}</td>
                            <td class="text-center">{{ chantier.prepaRetenue }}</td>
                        {% else %}
                            <td>{{ form_widget(chantierForm.prepaRetenue) }}</td>
                        {% endif %}

                        <td>{{ form_widget(chantierForm.prepaRealisee) }}</td>
                        <td id="TempsRestant" class="text-center">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-info">
                <thead>
                    <tr>
                        {% if "new" not in app.request.get("_route") %}
                            <th>{{ "site.date.create" | trans() }}</th>
                        {% endif %}
                        <th class="th-date">
                            {{ "site.date.start_prepa" | trans() }}
                            {% if not is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                                <span data-date="1">
                                    <i class="fa fa-trash"></i>
                                </span>
                            {% endif %}
                        </th>
                        <th class="th-date">
                            {{ "site.date.end_prepa" | trans() }}
                            {% if not is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                                <span data-date="2">
                                    <i class="fa fa-trash"></i>
                                </span>
                            {% endif %}
                        </th>
                        <th class="th-date">
                            {{ "site.date.start_real" | trans() }}
                            {% if not is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                                <span data-date="3">
                                    <i class="fa fa-trash"></i>
                                </span>
                            {% endif %}
                        </th>
                        <th class="th-date">
                            {{ "site.date.end_real" | trans() }}
                            {% if not is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                                <span data-date="4">
                                    <i class="fa fa-trash"></i>
                                </span>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if "new" not in app.request.get("_route") %}
                            <td class="text-center">{{ chantier.createdAt | date("d/m/Y") }}</td>
                        {% endif %}
                        {% if is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                            <td class="hide">{{ form_widget(chantierForm.dateDebutPrepa) }}</td>
                            <td class="text-center">{{ chantier.dateDebutPrepa | date("d/m/Y") }}</td>
                        {% else %}
                            <td data-cible="1">{{ form_widget(chantierForm.dateDebutPrepa) }}</td>
                        {% endif %}

                        <td data-cible="2">{{ form_widget(chantierForm.dateFinPrepa) }}</td>

                        {% if is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                            <td class="hide">{{ form_widget(chantierForm.dateDebutReal) }}</td>
                            <td class="text-center">{{ chantier.dateDebutReal }}</td>
                        {% else %}
                            <td data-cible="3">{{ form_widget(chantierForm.dateDebutReal) }}</td>
                        {% endif %}

                        <td data-cible="4">{{ form_widget(chantierForm.dateFinReal) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-info">
                <thead>
                    <tr>
                        <th>{{ "site.manager" | trans() }}</th>
                        <th>{{ "site.nom_demandeur" | trans() }}</th>
                        <th>{{ "site.entity_demandeur" | trans() }}</th>
                        <th>{{ "site.entity_prepa" | trans() }}</th>
                        <th>{{ "site.entity_real" | trans() }}</th>
                        <th>{{ "site.name_ca" | trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr{% if is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %} class="hide"{% endif %}>
                        <td>{{ form_widget(chantierForm.responsable) }}</td>
                        <td>{{ form_widget(chantierForm.nomDemandeur) }}</td>
                        <td>{{ form_widget(chantierForm.entiteDemandeur) }}</td>
                        <td>{{ form_widget(chantierForm.entitePrepa) }}</td>
                        <td>{{ form_widget(chantierForm.entiteReal) }}</td>
                        <td>{{ form_widget(chantierForm.nomCA) }}</td>
                    </tr>
                    {% if is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %}
                        <tr class="text-center">
                            <td>{{ chantier.responsable }}</td>
                            <td>{{ chantier.nomDemandeur }}</td>
                            <td>{{ chantier.entiteDemandeur }}</td>
                            <td>{{ chantier.entitePrepa }}</td>
                            <td>{{ chantier.entiteReal }}</td>
                            <td>{{ chantier.nomCA }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if chantier is defined and chantier.commentaireCinkeP %}
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered table-info">
                    <thead>
                        <tr>
                            <th>{{ "site.commentary_cinkep" | trans() }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ chantier.commentaireCinkeP }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if "new" in app.request.get('_route') %}
        <div class="row mt-3">
            <div class="col-xs-12 text-right">
                <button type="submit" class="btn btn-sm btn-success">{{ "utils.validate" | trans() }}</button>
            </div>
        </div>
    {% endif %}

    {% if "new" not in app.request.get("_route") %}
        <div class="row my-3">
            <div class="col-md-12">
                <table id="TableCommentaire" class="table table-striped table-bordered table-info">
                    <thead>
                        <tr>
                            <th style="width: 15%;">{{ "commentary.createdAt" | trans() }}</th>
                            <th style="width: 20%;">{{ "user.libelle" | trans({'%count%': 1}) }}</th>
                            <th>{{ "commentary.message" | trans() }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commentaire in chantier.commentaires %}
                            <tr>
                                <td class="text-center">{{ commentaire.createdAt | date("d/m/Y") }}</td>
                                <td>
                                    {% if commentaire.user %}
                                        {{ commentaire.user.firstname }} {{ commentaire.user.lastname }}
                                    {% endif %}
                                </td>
                                <td>{{ commentaire.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 text-right">
                <label for="Commentaire"></label>
                <textarea id="Commentaire" class="form-control" rows="3"></textarea>
                <a class="btn btn-sm btn-success mt-3 btn-commentaire" data-id="{{ chantier.id }}">{{ "commentary.comment" | trans() }}</a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12 text-right">
                <a id="ValidateChantier"
                   class="btn btn-sm btn-success"
                   data-id="{{ chantier.id }}">
                    {{ "utils.validate" | trans() }}
                </a>
                <a class="btn btn-primary btn-sm open-logbook"
                   data-id="{{ chantier.id }}"
                   data-type="{{ constant('App\\Entity\\Action::TYPE_CHANTIER') }}"
                   data-object_class="Chantier">
                    <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                </a>
                {% if not is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %}
                    {% if chantier.preparateur is empty %}
                        <a class="btn btn-sm bg-purple btn-charge">
                            <i class="fa fa-bar-chart"></i> {{ "user.charge" | trans({"%count%" : 2}) }}
                        </a>
                    {% endif %}
                    {% if chantier.dateCloture is empty %}
                        <a class="btn btn-sm btn-warning btn-close"
                        data-id="{{ chantier.id }}"
                        data-page="info">
                            <i class="fa fa-check"></i> {{ "site.close" | trans() }}
                        </a>
                    {% else %}
                        <a class="btn btn-sm btn-warning btn-open"
                           data-id="{{ chantier.id }}"
                           data-page="info">
                            <i class="fa fa-check"></i> {{ "site.open" | trans() }}
                        </a>
                    {% endif %}
                    <a class="btn btn-sm btn-danger bootbox-confirm"
                       data-message="{{ "site.sentence.delete" | trans() }}"
                       data-href="{{ path("site_delete", {"id" : chantier.id}) }}"
                       data-button="{{ "utils.delete" | trans() }}"
                       data-classes="btn-sm btn-danger">
                        <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{{ form_end(chantierForm) }}