{% extends 'base.html.twig' %}

{% block title %}{{ "title.assignement" | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div id="FirstBox" class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            {% include "chantier/datatable.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SecondBox" class="col-md-12 hide">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="text-right">
                            <a class="btn btn-xs btn-danger m-2 close-site"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="box-header with-border" style="min-height: 300px;">
                            {# BODY #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}