<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead style="font-size: 14px;">
                <tr>
                    <th class="xsmallTD"></th>
                    <th class="sorting_asc">{{ "site.number" | trans() }}</th>
                    <th>{{ "site.code_affaire" | trans() }}</th>
                    <th>{{ "site.body" | trans() }}</th>
                    <th>{{ "site.state" | trans() }}</th>
                    <th>{{ "municipality.libelle" | trans({'%count%': 1}) }}</th>
                    <th>{{ "category.libelle" | trans({'%count%': 1}) }}</th>
                    <th>{{ "site.date.end_real" | trans() }}</th>
                    <th>{{ "site.commentary" | trans({'%count%': 2}) }}</th>
                    {% if "review" not in app.request.get('_route') %}
                        <th>{{ "site.preparator" | trans() }}</th>
                    {% endif %}
                    <th style="min-width: 70px !important;"></th>
                </tr>
            </thead>
            <tbody style="font-size: 13px;">
                {% for chantier in chantiers %}
                    <tr data-id="{{ chantier.id }}">
                        <td class="site-state
                            {% if chantier.dateCloture is null %}
                                {% if chantier.dateFinPrepa is not null and date(chantier.dateFinPrepa) < date()  %}
                                    bg-red
                                {% elseif chantier.dateFinPrepa is not null and chantier.dateDebutPrepa|date("m/Y") == date()|date ("m/Y") %}
                                    bg-blue
                                {% elseif chantier.dateFinReal is not null and date(chantier.dateFinReal) < date("+31days") and date(chantier.dateFinReal) > date() %}
                                    bg-pink
                                {% else %}
                                    bg-green
                                {% endif %}
                            {% else %}
                                bg-black
                            {% endif %}"
                            data-info="state"></td>
                        <td class="redirect" data-href="{{ path("site_info", {"id" : chantier.id}) }}" data-info="number">{{ chantier.number }}</td>
                        <td data-info="codeAffaire">{{ chantier.codeAffaire }}</td>
                        <td data-info="intitule">{{ chantier.intitule }}</td>
                        <td data-info="etat">{{ chantier.etat }}</td>
                        <td data-info="commune">
                            {% if chantier.commune %}
                                {{ chantier.commune.libelle }} ({{ chantier.commune.insee }})
                            {% endif %}
                        </td>
                        <td data-info="categorie">
                            {% if chantier.categorie %}
                                {{ chantier.categorie.libelle }}
                            {% endif %}
                        </td>
                        <td data-info="dateFinReal">
                            {% if chantier.dateFinReal %}
                                {{ chantier.dateFinReal | date("d/m/Y") }}
                            {% endif %}
                        </td>
                        <td data-info="commentaire">
                            {% if chantier.commentaires | length > 0 %}
                                {% set message = chantierService.getLastCommentary(chantier) %}
                                {% if message | length() > 39 %}
                                    {{ message[:40] ~ "..." }}
                                {% elseif chantier.commentaires | length() > 1 %}
                                    {{ message[:40] ~ " [...]" }}
                                {% else %}
                                    {{ message }}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if "review" not in app.request.get('_route') %}
                            <td data-info="preparateur">
                                {% if chantier.preparateur %}
                                    {{ chantier.preparateur.firstname }} {{ chantier.preparateur.lastname }}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="text-center">
                            {% if "review" in app.request.get('_route') or "assignement" in app.request.get('_route') %}
                                <a class="btn btn-xs btn-primary btn-open-site"
                                   data-id="{{ chantier.id }}"
                                   title="{{ "utils.visualise" | trans() }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            {% else %}
                                <a href="{{ path("site_info", {"id" : chantier.id}) }}"
                                   class="btn btn-xs btn-primary"
                                   title="{{ "utils.visualise" | trans() }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            {% endif %}
                            {% if not is_granted( constant('App\\Entity\\User::ROLE_RIP') ) %}
                                {% if chantier.dateCloture is null %}
                                    <a class="btn btn-xs btn-warning btn-close"
                                       data-id="{{ chantier.id }}"
                                       title="{{ "site.close" | trans() }}">
                                        <i class="fa fa-check"></i>
                                    </a>
                                {% endif %}
                                <a class="btn btn-xs btn-danger bootbox-confirm"
                                   data-message="{{ "site.sentence.delete" | trans() }}"
                                   data-href="{{ path("site_delete", {"id" : chantier.id}) }}"
                                   data-button="{{ "utils.delete" | trans() }}"
                                   data-classes="btn-sm btn-danger"
                                   title="{{ "utils.delete" | trans() }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>