{% extends 'base.html.twig' %}

{% block title %}{{ "title.import_site" | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div id="FirstBox" class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    {{ form_start(form) }}
                                        <div class="col-md-12">
                                            <label for="Agence">{{ "agency.libelle" | trans({"%count%" : 1}) }}</label>
                                            <select id="Agence" class="textforms form-control select2" name="upload_file[agence]">
                                                <option value=""></option>
                                                {% for agence in agences %}
                                                    <option value="{{ agence.id }}">{{ agence.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-12 my-3">
                                            {{ form_widget(form.fichier) }}
                                        </div>
                                        <div class="col-md-12 mt-3 text-right">
                                            <span id="Spinner" class="d-none">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                            {{ form_widget(form.submit) }}
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}