{% extends 'base.html.twig' %}

{% block title %}
    {% if "new" in app.request.get("_route") %}
        {{ "title.new.site" | trans() }}
    {% else %}
        {{ "title.info.site" | trans() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("site_main") }}"><i class="fa fa-folder-open"></i> {{ "site.libelle" | trans({'%count%': 2}) }}</a></li>
            <li class="active">
                {% if "new" in app.request.get("_route") %}
                    {{ "utils.creating" | trans() }}
                {% else %}
                    {{ "site.libelle" | trans({'%count%': 1}) }} {{ chantier.number }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {% include "chantier/_details.html.twig" %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}