{% extends 'base.html.twig' %}

{% block title %}{{ "title.main.site" | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div id="FirstBox" class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            {% if not is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                                <div class="row">
                                    {% if "review" in app.request.get('_route') %}
                                        <div class="col-md-12 text-right">
                                            <a class="btn btn-warning btn-sm btn-close-review my-3" data-id="{{ user.id }}">{{ "user.close_review" | trans() }}</a>
                                        </div>
                                    {% else %}
                                        <div class="col-md-12 text-right">
                                            <a href="{{ path("site_import") }}" class="btn btn-success btn-sm my-3">{{ "utils.import" | trans() }}</a>
                                            <a href="{{ path("site_new") }}" class="btn btn-success btn-sm my-3">{{ "utils.new" | trans() }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% include "chantier/datatable.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SecondBox" class="col-md-12 hide">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="text-right">
                            <a class="btn btn-xs btn-danger m-2 close-site"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="box-header with-border" style="min-height: 300px;">
                            {# BODY #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}