<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sorting_asc">{{ "bo.libelle" | trans() }}</th>
                    <th>{{ "agency.libelle" | trans({'%count%': 1}) }}</th>
                    <th>{{ "site.count" | trans({'%count%': 1}) }}</th>
                    <th class="smallTD"></th>
                </tr>
            </thead>
            <tbody>
                {% for bo in listBo %}
                    <tr>
                        <td class="redirect" data-href="{{ path("bo_info", {"id" : bo.id}) }}">{{ bo.name }}</td>
                        <td>
                            {% if bo.agence %}
                                {{ bo.agence.name }}
                            {% endif %}
                        </td>
                        <td>{{ chantierService.getCHantierByBo(bo) | length() }}</td>
                        <td class="text-center">
                            <a href="{{ path("bo_info", {"id" : bo.id}) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ "utils.visualise" | trans() }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-xs btn-danger bootbox-confirm"
                               data-message="{{ "bo.sentence.delete" | trans() }}"
                               data-href="{{ path("bo_delete", {"id" : bo.id}) }}"
                               data-button="{{ "utils.delete" | trans() }}"
                               data-classes="btn-sm btn-danger"
                               title="{{ "utils.delete" | trans() }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>