{% extends 'base.html.twig' %}

{% block title %}
    {% if "new" in app.request.get("_route") %}
        {{ "title.new.bo" | trans() }}
    {% else %}
        {{ "title.info.bo" | trans() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("bo_main") }}"><i class="fa fa-briefcase"></i> {{ "bo.libelle" | trans() }}</a></li>
            <li class="active">
                {% if "new" in app.request.get("_route") %}
                    {{ "utils.creating" | trans() }}
                {% else %}
                    {{ bo.name }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {{ form_start(boForm) }}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(boForm.name) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(boForm.agence) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(boForm.communes) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            {{ form_widget(boForm.submit) }}
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(boForm) }}

                            {% if "new" not in app.request.get("_route") %}
                                <hr>
                                {% include "chantier/datatable.html.twig" %}

                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="btn btn-primary btn-sm open-logbook"
                                           data-id="{{ bo.id }}"
                                           data-type="{{ constant('App\\Entity\\Action::TYPE_BO') }}"
                                           data-object_class="BO">
                                            <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                                        </a>
                                        <a class="btn btn-sm btn-danger bootbox-confirm"
                                           data-message="{{ "bo.sentence.delete" | trans() }}"
                                           data-href="{{ path("bo_delete", {"id" : bo.id}) }}"
                                           data-button="{{ "utils.delete" | trans() }}"
                                           data-classes="btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}