<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sorting_asc">{{ "municipality.libelle" | trans({'%count%': 1}) }}</th>
                    <th>{{ "municipality.insee_code" | trans() }}</th>
                    <th>{{ "site.count" | trans() }}</th>
                    <th class="smallTD"></th>
                </tr>
            </thead>
            <tbody>
                {% for commune in communes %}
                    <tr>
                        <td class="redirect" data-href="{{ path("municipality_info", {"id" : commune.id}) }}">{{ commune.libelle }}</td>
                        <td>{{ commune.insee }}</td>
                        <td>{{ commune.chantiers | length }}</td>
                        <td class="text-center">
                            <a href="{{ path("municipality_info", {"id" : commune.id}) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ "utils.visualise" | trans() }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-xs btn-danger bootbox-confirm"
                               data-message="{{ "municipality.sentence.delete" | trans() }}"
                               data-href="{{ path("municipality_delete", {"id" : commune.id}) }}"
                               data-button="{{ "utils.delete" | trans() }}"
                               data-classes="btn-sm btn-danger"
                               title="{{ "utils.delete" | trans() }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>