{% extends 'base.html.twig' %}

{% block title %}
    {% if "new" in app.request.get("_route") %}
        {{ "title.new.municipality" | trans() }}
    {% else %}
        {{ "title.info.municipality" | trans() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("municipality_main") }}"><i class="fa fa-map"></i> {{ "municipality.libelle" | trans({'%count%': 2}) }}</a></li>
            <li class="active">
                {% if "new" in app.request.get("_route") %}
                    {{ "utils.creating" | trans() }}
                {% else %}
                    {{ commune.libelle }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {{ form_start(communeForm) }}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(communeForm.libelle) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(communeForm.insee) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(communeForm.listBo) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        {{ form_widget(communeForm.submit) }}
                                    </div>
                                </div>
                            {{ form_end(communeForm) }}

                            {% if "new" not in app.request.get("_route") %}
                                <hr>
                                {% include "chantier/datatable.html.twig" %}

                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="btn btn-primary btn-sm open-logbook"
                                           data-id="{{ commune.id }}"
                                           data-type="{{ constant('App\\Entity\\Action::TYPE_COMMUNE') }}"
                                           data-object_class="Commune">
                                            <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                                        </a>
                                        <a class="btn btn-sm btn-danger bootbox-confirm"
                                           data-message="{{ "municipality.sentence.delete" | trans() }}"
                                           data-href="{{ path("municipality_delete", {"id" : commune.id}) }}"
                                           data-button="{{ "utils.delete" | trans() }}"
                                           data-classes="btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}