<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sorting_asc">{{ "type_work.libelle" | trans() }}</th>
                    <th>{{ "type_work.duration" | trans() }}</th>
                    <th>{{ "type_work.real" | trans() }}</th>
                    <th class="smallTD"></th>
                </tr>
            </thead>
            <tbody>
                {% for travail in travaux %}
                    <tr>
                        <td class="redirect" data-href="{{ path("typework_info", {"id" : travail.id}) }}">{{ travail.libelle }}</td>
                        <td>{{ travail.duration }}</td>
                        <td>{{ travailService.getRealDuration(travail) }}</td>
                        <td class="text-center">
                            <a href="{{ path("typework_info", {"id" : travail.id}) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ "utils.visualise" | trans() }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-xs btn-danger bootbox-confirm"
                               data-message="{{ "type_work.sentence.delete" | trans() }}"
                               data-href="{{ path("typework_delete", {"id" : travail.id}) }}"
                               data-button="{{ "utils.delete" | trans() }}"
                               data-classes="btn-sm btn-danger"
                               title="{{ "utils.delete" | trans() }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>