{% extends 'base.html.twig' %}

{% block title %}
    {% if "new" in app.request.get("_route") %}
        {{ "title.new.type_work" | trans() }}
    {% else %}
        {{ "title.info.type_work" | trans() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("typework_main") }}"><i class="fa fa-wrench"></i> {{ "type_work.libelle" | trans() }}</a></li>
            <li class="active">
                {% if "new" in app.request.get("_route") %}
                    {{ "utils.creating" | trans() }}
                {% else %}
                    {{ travail.libelle }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {{ form_start(typeTravailForm) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(typeTravailForm.libelle) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(typeTravailForm.duration) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        {{ form_widget(typeTravailForm.submit) }}
                                    </div>
                                </div>
                            {{ form_end(typeTravailForm) }}

                            {% if "new" not in app.request.get("_route") %}
                                <hr>
                                {% include "chantier/datatable.html.twig" %}
                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="btn btn-primary btn-sm open-logbook"
                                           data-id="{{ travail.id }}"
                                           data-type="{{ constant('App\\Entity\\Action::TYPE_TYPEWORK') }}"
                                           data-object_class="TypeTravail">
                                            <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                                        </a>
                                        <a class="btn btn-sm btn-danger bootbox-confirm"
                                           data-message="{{ "type_work.sentence.delete" | trans() }}"
                                           data-href="{{ path("typework_delete", {"id" : travail.id}) }}"
                                           data-button="{{ "utils.delete" | trans() }}"
                                           data-classes="btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}