<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sorting_asc">{{ "dr.libelle" | trans({'%count%': 1}) }}</th>
                    <th>{{ "agency.number" | trans({'%count%': 1}) }}</th>
                    <th class="smallTD"></th>
                </tr>
            </thead>
            <tbody>
                {% for dr in listDr %}
                    <tr>
                        <td class="redirect" data-href="{{ path("dr_info", {"id" : dr.id}) }}">{{ dr.name }}</td>
                        <td>{{ dr.agences | length() }}</td>
                        <td class="text-center">
                            <a href="{{ path("dr_info", {"id" : dr.id}) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ "utils.visualise" | trans() }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-xs btn-danger bootbox-confirm"
                               data-message="{{ "dr.sentence.delete" | trans() }}"
                               data-href="{{ path("dr_delete", {"id" : dr.id}) }}"
                               data-button="{{ "utils.delete" | trans() }}"
                               data-classes="btn-sm btn-danger"
                               title="{{ "utils.delete" | trans() }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>