{% extends 'base.html.twig' %}

{% block title %}
    {% if "new" in app.request.get("_route") %}
        {{ "title.new.dr" | trans() }}
    {% else %}
        {{ "title.info.dr" | trans() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("dr_main") }}"><i class="fa fa-list-ul"></i> {{ "dr.libelle" | trans() }}</a></li>
            <li class="active">
                {% if "new" in app.request.get("_route") %}
                    {{ "utils.creating" | trans() }}
                {% else %}
                    {{ dr.name }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {{ form_start(drForm) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(drForm.name) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(drForm.agences) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        {{ form_widget(drForm.submit) }}
                                    </div>
                                </div>
                            {{ form_end(drForm) }}

                            {% if "new" not in app.request.get("_route") %}
                                <hr>
                                {% include "agence/datatable.html.twig" %}

                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="btn btn-primary btn-sm open-logbook"
                                           data-id="{{ dr.id }}"
                                           data-type="{{ constant('App\\Entity\\Action::TYPE_DR') }}"
                                           data-object_class="DR">
                                            <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                                        </a>
                                        <a class="btn btn-sm btn-danger bootbox-confirm"
                                           data-message="{{ "dr.sentence.delete" | trans() }}"
                                           data-href="{{ path("dr_delete", {"id" : dr.id}) }}"
                                           data-button="{{ "utils.delete" | trans() }}"
                                           data-classes="btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}