.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}

.bg-orange {
  background-color: orange;
}

.bg-pink {
  background-color: #fa24de;
}

.bootbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  margin: 0 0 10px;
  font-size: smaller;
  background-color: unset;
  >li {
    >a {
      color: #444;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.daterangepicker {
  top: 0;
  left: 0;
}

hr {
  border-top: 0.5px solid #ddd;
}

label {
  font-weight: 400;
}

.logbook {
  max-height: 450px;
  overflow-y: scroll;
}

.mediumTD {
  width: 70px;
}

.modal-footer {
  padding: 10px;
}

.redirect {
  cursor: pointer;
}

.select2-container .select2-selection--multiple {
  max-height: 100px !important;
  overflow-y: scroll !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: black;
}

.select2-selection {
  background: linear-gradient(#EFEFEF, #FFF);
  height: 34px !important;
}

.select2-selection--multiple{
  overflow: hidden !important;
  height: auto !important;
}

.smallTD {
  width: 45px !important;
}

.table-info {
  tbody {
    background-color: #ecf0f5;
    tr {
      td {
        padding: 3px;
        vertical-align: middle;
        input {
          margin: 0 !important;
        }
      }
    }
  }
  thead {
    background-color: #3c8dbc;
    color: white;
    tr {
      th {
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

.textforms:not(:disabled) {
  background: linear-gradient(#EFEFEF, #FFF);
  margin-bottom: 7px;
  color: black;
  width: 100%;
}

.timeline {
  > .time-label{
    > span {
      background-color: #3c8dbc;
      color: white;
    }
  }
}

.xsmallTD {
  width: 1px;
}

.th-date {
  position: relative;
  > span {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
}