<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="smallTD">{{ "site.is_prepa" | trans() }}</th>
                    <th class="sorting_asc">{{ "site.activity" | trans({"%count%" : 1}) }}</th>
                </tr>
            </thead>
            <tbody>
                {% for activite in activites %}
                    <tr>
                        <td class="text-center">
                            <span class="hide">{% if activite.isPrepa %}1{% else %}0{% endif %}</span>
                            <label class="switch" data-id="{{ activite.id }}">
                                <input type="checkbox" {% if activite.isPrepa %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>{{ activite.libelle }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>