{% extends 'base.html.twig' %}

{% block title %}{{ "title.main.activity" | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            {% include "activite/datatable.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}