<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="skin-blue sidebar-mini">
        {% include "utils/_topbar.html.twig" %}
        {% include "utils/_sidebar.html.twig" %}

        <div class="wrapper">
            <div class="content-wrapper">
                {% if app.request.session.bag("flashes").keys() %}
                    <section class="content-header">
                        {% include "utils/_messageFlash.html.twig" %}
                    </section>
                {% endif %}
                <section class="content container-fluid">
                    {% block body %}{% endblock %}
                </section>
            </div>

            <footer class="main-footer">
                <strong>Copyright © 2020</strong>
            </footer>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
