<div class="row">
    <div class="col-md-12 logbook">
        {% if actions.count > 0 %}
            <ul class="timeline">
                {% set lastDate = "" %}
                {% for date, actionsByDate in actions.actions %}
                    {% if actionsByDate.0.createdAt | date ("d/m/Y") != lastDate %}
                        {% set lastDate = actionsByDate.0.createdAt | date ("d/m/Y") %}
                        <li class="time-label">
                            <span>
                                {{ lastDate }}
                            </span>
                        </li>
                    {% endif %}
                    {% for action in actionsByDate %}
                        <li>
                            <i class="fa fa-user"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> {{ action.createdAt | date("d/m/Y à H:i") }}</span>
                                <h3 class="timeline-header no-border">{{ action.libelle }}</h3>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        {% else %}
            <div class="alert alert-info">
                {{ "utils.no_action" | trans() }}
            </div>
        {% endif %}
    </div>
</div>
