<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu mt-4" data-widget="tree">

            {% if is_granted(constant('App\\Entity\\User::ROLE_RIP')) %}
                <li class="header">{{ "utils.personnal_space" | trans() }}</li>
                <li{% if "site_" in app.request.get('_route') %} class="active"{% endif %}>
                    <a href="{{ path("site_mine") }}"><i class="fa fa-folder-open"></i> <span>{{ "site.my_site" | trans({'%count%': 2}) }}</span></a>
                </li>
                <li{% if "stat" in app.request.get('_route') %} class="active"{% endif %}>
                    <a href="{{ path("user_stats", {"id" : app.user.id}) }}"><i class="fa fa-bar-chart"></i> <span>{{ "statistic.libelle" | trans({'%count%': 2}) }}</span></a>
                </li>
            {% endif %}

            {% if is_granted(constant('App\\Entity\\User::ROLE_PILOTE')) or is_granted(constant('App\\Entity\\User::ROLE_CHEF_AGENCE')) or is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                <li class="header">{{ "site.manage" | trans() }}</li>
                <li{% if "site_" in app.request.get('_route') and not "assignement" in app.request.get('_route') %} class="active"{% endif %}>
                    <a href="{{ path("site_main") }}"><i class="fa fa-folder-open"></i> <span>{{ "site.libelle" | trans({'%count%': 2}) }}</span></a>
                </li>
                <li{% if "assignement" in app.request.get('_route') %} class="active"{% endif %}>
                    <a href="{{ path("site_assignement") }}"><i class="fa fa-calendar-plus-o"></i> <span>{{ "site.assignement" | trans() }}</span></a>
                </li>
                <li{% if "review" in app.request.get('_route') %} class="active"{% endif %}>
                    <a href="{{ path("user_rip_review") }}"><i class="fa fa-calendar-check-o"></i> <span>{{ "rip.review" | trans({'%count%': 1}) }}</span></a>
                </li>
            {% endif %}

            {% if is_granted(constant('App\\Entity\\User::ROLE_PILOTE')) or is_granted(constant('App\\Entity\\User::ROLE_CHEF_AGENCE')) or is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                <li class="header">{{ "utils.administration" | trans({'%count%': 1}) }}</li>
                {% if is_granted(constant('App\\Entity\\User::ROLE_CHEF_AGENCE')) or is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                    <li{% if "dr_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("dr_main") }}"><i class="fa fa-list-ul"></i> <span>{{ "dr.libelle" | trans() }}</span></a>
                    </li>
                    <li{% if "agency_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("agency_main") }}"><i class="fa fa-university"></i> <span>{{ "agency.libelle" | trans({'%count%': 2}) }}</span></a>
                    </li>
                    <li{% if "bo_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("bo_main") }}"><i class="fa fa-suitcase"></i> <span>{{ "bo.libelle" | trans() }}</span></a>
                    </li>
                    <li{% if "municipality_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("municipality_main") }}"><i class="fa fa-map"></i> <span>{{ "municipality.libelle" | trans({'%count%': 2}) }}</span></a>
                    </li>
                    <li{% if "activity_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("activity_main") }}"><i class="fa fa-cog"></i> <span>{{ "site.activity" | trans({'%count%' : 2}) }}</span></a>
                    </li>
                    <li{% if "category_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("category_main") }}"><i class="fa fa-wrench"></i> <span>{{ "category.libelle" | trans({'%count%': 2}) }}</span></a>
                    </li>
                    <li{% if "typework_" in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path("typework_main") }}"><i class="fa fa-pencil"></i> <span>{{ "type_work.libelle" | trans() }}</span></a>
                    </li>
                    <li{% if "user" in app.request.get('_route') and "review" not in app.request.get('_route') and not "filter" in app.request.requestUri %} class="active"{% endif %}>
                        <a href="{{ path("user_main") }}"><i class="fa fa-users"></i> <span>{{ "user.libelle" | trans({"%count%" : 2}) }}</span></a>
                    </li>
                {% endif %}
                <li{% if "filter" in app.request.requestUri %} class="active"{% endif %}>
                    <a href="{{ path("user_main", {"filter" : constant('App\\Entity\\User::ROLE_RIP')}) }}"><i class="fa fa-users"></i> <span>{{ "rip.libelle" | trans() }}</span></a>
                </li>
            {% endif %}
        </ul>
    </section>
</aside>