<header class="main-header">

    <a href="{{ path("app_homepage") }}" class="logo">
        <span class="logo-mini"><b>RIP</b></span>
        <span class="logo-lg"><b>Enedis</b> RIP</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>

        {% if app.user %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path("app_logout") }}" class="text-center">{{ "utils.logout" | trans }}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        {% endif %}

    </nav>
</header>