<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sorting_asc">{{ "agency.libelle" | trans({'%count%': 1}) }}</th>
                    {% if "dr_" not in app.request.get('_route') %}
                        <th>{{ "dr.libelle" | trans({'%count%': 1}) }}</th>
                    {% endif %}
                    <th>{{ "bo.count" | trans() }}</th>
                    <th class="smallTD"></th>
                </tr>
            </thead>
            <tbody>
                {% for agence in agences %}
                    <tr>
                        <td class="redirect" data-href="{{ path("agency_info", {"id" : agence.id}) }}">{{ agence.name }}</td>
                        {% if "dr_" not in app.request.get('_route') %}
                            <td>
                                {% if agence.dr %}
                                    {{ agence.dr.name }}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>{{ agence.listBo | length() }}</td>
                        <td class="text-center">
                            <a href="{{ path("agency_info", {"id" : agence.id}) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ "utils.visualise" | trans() }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-xs btn-danger bootbox-confirm"
                               data-message="{{ "agency.sentence.delete" | trans() }}"
                               data-href="{{ path("agency_delete", {"id" : agence.id}) }}"
                               data-button="{{ "utils.delete" | trans() }}"
                               data-classes="btn-sm btn-danger"
                               title="{{ "utils.delete" | trans() }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>