{% extends 'base.html.twig' %}

{% block title %}
    {% if "new" in app.request.get("_route") %}
        {{ "title.new.agency" | trans() }}
    {% else %}
        {{ "title.info.agency" | trans() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("agency_main") }}"><i class="fa fa-university"></i> {{ "agency.libelle" | trans({'%count%': 2}) }}</a></li>
            <li class="active">
                {% if "new" in app.request.get("_route") %}
                    {{ "utils.creating" | trans() }}
                {% else %}
                    {{ agence.name }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {{ form_start(agenceForm) }}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(agenceForm.dr) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(agenceForm.name) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(agenceForm.listBo) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        {{ form_widget(agenceForm.submit) }}
                                    </div>
                                </div>
                            {{ form_end(agenceForm) }}

                            {% if "new" not in app.request.get("_route") %}
                                <hr>
                                {% include "bo/datatable.html.twig" %}

                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a class="btn btn-primary btn-sm open-logbook"
                                           data-id="{{ agence.id }}"
                                           data-type="{{ constant('App\\Entity\\Action::TYPE_AGENCE') }}"
                                           data-object_class="Agence">
                                            <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                                        </a>
                                        <a class="btn btn-sm btn-danger bootbox-confirm"
                                           data-message="{{ "agency.sentence.delete" | trans() }}"
                                           data-href="{{ path("agency_delete", {"id" : agence.id}) }}"
                                           data-button="{{ "utils.delete" | trans() }}"
                                           data-classes="btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}