{% extends 'base.html.twig' %}

{% block title %}{{ "title.main.category" | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a href="{{ path("category_new") }}" class="btn btn-success btn-sm my-3">{{ "utils.new" | trans() }}</a>
                                </div>
                            </div>
                            {% include "categorie/datatable.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}