<div class="row">
    <div class="col-md-12 mb-3">
        <a class="btn btn-primary select-time"
           data-start="{{ "now"|date("d/m/Y") }}"
           data-end="{{ "now"|date_modify("+1 month")|date("d/m/Y") }}"
           data-duration="1">
            {{ "utils.calendar.number_month" | trans({"%number%" : 1}) }}
        </a>
        <a class="btn btn-default select-time"
           data-start="{{ "now"|date("d/m/Y") }}"
           data-end="{{ "now"|date_modify("+3 month")|date("d/m/Y") }}"
           data-duration="3">
            {{ "utils.calendar.number_month" | trans({"%number%" : 3}) }}
        </a>
        <a class="btn btn-default select-time"
           data-start="{{ "now"|date("d/m/Y") }}"
           data-end="{{ "now"|date_modify("+6 month")|date("d/m/Y") }}"
           data-duration="6">
            {{ "utils.calendar.number_month" | trans({"%number%" : 6}) }}
        </a>
        <a class="btn btn-default select-time"
           data-start="{{ "now"|date("d/m/Y") }}"
           data-end="{{ "now"|date_modify("+1 year")|date("d/m/Y") }}"
           data-duration="12">
            {{ "utils.calendar.number_month" | trans({"%number%" : 12}) }}
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
            <tr>
                <th class="sorting_asc">Identite</th>
                <th>{{ "user.sites_in_progress" | trans() }}</th>
                <th>{{ "user.time_available" | trans() }} (h)</th>
                <th>{{ "user.total_load" | trans() }} (h)</th>
                <th>{{ "user.percentage_charge" | trans() }} (%)</th>
                {% if "stats" not in app.request.get("_route") %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.identity }}</td>
                    <td data-info="open">{{ datas[user.id]["open"]}}</td>
                    <td data-info="dispo">{{ datas[user.id]["dispo"] }}</td>
                    <td data-info="charge">{{ datas[user.id]["charge"] }}</td>
                    <td data-info="pourcentage">
                        {% if datas[user.id]["dispo"] != 0 %}
                            {{ (datas[user.id]["charge"] / datas[user.id]["dispo"] * 100) | round(1, "common") | number_format(1) }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    {% if "stats" not in app.request.get("_route") %}
                        <td data-id="{{ user.id }}">
                            <a class="btn btn-xs btn-success select-prepa"><i class="fa fa-check"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>