<div class="row">
    <div class="col-md-12">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="sorting_asc">{{ "user.identity" | trans() }}</th>
                    <th>{{ "bo.libelle" | trans() }}</th>
                    <th>{{ "user.date_last_review" | trans() }}</th>
                    <th>{{ "site.count" | trans() }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="redirect" data-href="{{ path("user_info", {"id" : user.id}) }}">{{ user.firstname }} {{ user.lastname }}</td>
                        <td>
                            {% if user.bo %}
                                {{ user.bo.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.dateLastReview %}
                                {{ user.dateLastReview | date("d/m/Y") }}
                            {% endif %}
                        </td>
                        <td>{{ userService.getSites(user) | length() }}</td>
                        <td class="text-center">
                            {% if "review" in app.request.get('_route') %}
                                <a href="{{ path("user_rip_review_sites", {"id" : user.id}) }}"
                                   target="_blank"
                                   class="btn btn-xs btn-warning"
                                   title="{{ "utils.review" | trans() }}">
                                    <i class="fa fa-book"></i>
                                </a>
                            {% endif %}
                            <a href="{{ path("user_info", {"id" : user.id}) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ "utils.visualise" | trans() }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            {% if user.hasRole(constant('App\\Entity\\User::ROLE_RIP')) %}
                                <a href="{{ path("user_stats", {"id" : user.id}) }}"
                                   class="btn btn-xs bg-purple"
                                   title="{{ "user.charge" | trans({"%count%" : 1}) }}">
                                    <i class="fa fa-bar-chart"></i>
                                </a>
                            {% endif %}
                            <a class="btn btn-xs btn-danger bootbox-confirm"
                               data-message="{{ "user.sentence.delete" | trans() }}"
                               data-href="{{ path("user_delete", {"id" : user.id}) }}"
                               data-button="{{ "utils.delete" | trans() }}"
                               data-classes="btn-sm btn-danger"
                               title="{{ "utils.delete" | trans() }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>