{% extends 'base.html.twig' %}

{% block title %}{{ "title.info.user" | trans() }}{% endblock %}

{% block body %}
    <div class="navigation-block">
        <ol class="breadcrumb">
            <li><a href="{{ path("user_main") }}"><i class="fa fa-users"></i> {{ "user.libelle" | trans({"%count%" : 2}) }}</a></li>
            <li class="active">
                {% if "new" not in app.request.get('_route') %}
                    {{ user.firstname }} {{ user.lastname }}
                {% else %}
                    {{ "utils.creating" | trans() }}
                {% endif %}
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">

                            {{ form_start(userForm) }}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(userForm.firstname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(userForm.bo) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(userForm.dateLastReview) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(userForm.lastname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {% if is_granted(constant('App\\Entity\\User::ROLE_RIP')) or is_granted( constant('App\\Entity\\User::ROLE_PILOTE')) %}
                                            <span class="hide">{{ form_row(userForm.nni) }}</span>
                                            <label for="NNI">NNI</label>
                                            <input type="text" id="NNI" class="textforms form-control" value="{{ user.nni }}" disabled>
                                        {% else %}
                                            {{ form_row(userForm.nni) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                                            {{ form_row(userForm.roles) }}
                                        {% else %}
                                            <span class="hide">{{ form_row(userForm.roles) }}</span>
                                            <label for="Roles">{{ "user.role" | trans({'%count%': 2}) }}</label>
                                            <input type="text" id="Roles" class="textforms form-control" value="{{ user.roles | join(', ') }}" disabled>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(userForm.email) }}
                                    </div>
                                    <div class="col-md-4{% if not is_granted(constant('App\\Entity\\User::ROLE_ADMIN')) %} hide{% endif %}">
                                        {{ form_row(userForm.coefficient) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        {{ form_widget(userForm.submit) }}
                                    </div>
                                </div>
                            {{ form_end(userForm) }}

                            {% if "new" not in app.request.get("_route") %}

                                <hr>
                                {% set lastReview = revueService.getLastyReviewByUser(user) %}
                                {% if lastReview is not null and lastReview.commentaire is not null %}
                                    <p>
                                        <strong>{{ "user.last_commentary_review" | trans() }}</strong> : {{ lastReview.commentaire.message }}
                                    </p>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>{{ "site.info_open" | trans() }}</strong> : {{ userService.getChantiersByStatus(user, true) | length() }}
                                            <br/>
                                            <strong>{{ "site.info_close" | trans() }}</strong> : {{ userService.getChantiersByStatus(user, false) | length() }}
                                        </p>
                                    </div>
                                </div>
                                {% include "chantier/datatable.html.twig" %}

                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a href="{{ path("user_stats", {"id" : user.id}) }}" class="btn bg-purple btn-sm">
                                            <i class="fa fa-bar-chart"></i> {{ "user.charge" | trans({"%count%" : 1}) }}
                                        </a>
                                        <a class="btn btn-primary btn-sm open-logbook"
                                            data-id="{{ user.id }}"
                                            data-type="{{ constant('App\\Entity\\Action::TYPE_USER') }}"
                                            data-object_class="User">
                                            <i class="fa fa-book"></i> {{ "utils.logbook" | trans() }}
                                        </a>
                                        {% if user.hasRole(constant('App\\Entity\\User::ROLE_RIP')) %}
                                            <a href="{{ path("user_rip_review_sites", {"id" : user.id}) }}"
                                               class="btn btn-sm btn-warning"
                                               target="_blank"
                                               title="{{ "utils.review" | trans() }}">
                                                <i class="fa fa-book"></i> {{ "utils.review" | trans() }}
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-sm btn-danger bootbox-confirm"
                                           data-message="{{ "user.sentence.delete" | trans() }}"
                                           data-href="{{ path("user_delete", {"id" : user.id}) }}"
                                           data-button="{{ "utils.delete" | trans() }}"
                                           data-classes="btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> {{ "utils.delete" | trans() }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}