{% extends 'base.html.twig' %}

{% block title %}{{ "title.rip_review" | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            {{ form_start(formFilter) }}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(formFilter.dr) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(formFilter.agence) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(formFilter.bo) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-right">
                                        {{ form_widget(formFilter.submit) }}
                                    </div>
                                </div>
                            {{ form_end(formFilter) }}
                            <hr>
                            {% include "user/datatable.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}