{% extends 'base.html.twig' %}

{% block title %}{{ "title.statistiques" | trans() }}{% endblock %}

{% block body %}
    <input type="hidden" data-user="{{ users[0].id }}">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            {% include "user/_charges.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            <div class="row">

                                <div class="col-md-6">
                                    <canvas id="ChartPie" style="max-height: 300px;"></canvas>
                                    <h4 class="text-center">{{ "user.assigned_directory" | trans() }}</h4>
                                </div>
                                <div class="col-md-6">
                                    <canvas id="ChartBar"></canvas>
                                    <h4 class="text-center">{{ "user.allocation_charge" | trans() }}</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-group">
                    <div class="panel box">
                        <div class="box-header with-border">
                            <div class="row">
                                <div class="col-md-12">
                                    {% set chantiers = chantierService.getSitesCloseLastReview(users[0]) %}
                                    <h4 class="text-center text-bold">{{ "user.close_last_review" | trans() }}</h4>
                                    {% include "chantier/datatable.html.twig" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}